<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="startbootstrap-sb-admin-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>



    <h2>Hello [[prop1]]!</h2>



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class StartbootstrapSbAdminApp extends Polymer.Element {
      static get is() { return 'startbootstrap-sb-admin-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'startbootstrap-sb-admin-app'
          }
        };
      }
    }

    window.customElements.define(StartbootstrapSbAdminApp.is, StartbootstrapSbAdminApp);
  </script>
</dom-module>
